<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>VueJS Tutorial</title>
</head>
<body>
    <div id="vue-app">
        <h1>Keyboard Events</h1>
        <label>Name: </label>
        <input type="text" v-model="name">
        <span>{{name}}</span>
        <label>Age: </label>
        <input type="text" v-model="age">
        <span>{{age}}</span>
    </div>

    

    
    <script src="app.js"></script>
</body>
</html>